{% extends 'layout.html' %}
{% block title %}Add A User{% endblock %}

{% block content%}
<div class="container">
  <div class="row well col-md-4 col-md-offset-4">

    <form class="" action="/post_user" method="post">
      <label for="username">Username:</label>
      <input id="username" type="text" name="username" value="">
      <label for="email">Email:</label>
      <input id="email" type="text" name="email" value="">
      <input type="submit" name="submit" value="Submit">
    </form>

    {% for user in myUser %}
      <li>{{ user.id }}. {{ user.username }} - {{ user.email }}</li>
    {% endfor %}

    {{ oneItem.username }}

    </div>
  </div>
{% endblock %}
