{% extends 'layout.html' %}
{% block title %}Home{% endblock %}

{% block content%}

    <h2 class="text-center">Add A User</h2>
    <form class="well" action="/post_user" method="post">
      <label class="col-sm-offset-1" for="username">Username:</label>
      <input id="username" type="text" name="username" value="">
      <label class="col-sm-offset-2" for="email">Email:</label>
      <input id="email" type="text" name="email" value="">
      <input type="submit" name="submit" value="Submit">
    </form>

<div class="row">
    <table class="well col-md-offset-1">
      <h3 class="text-center">Registered Users</h3>
      <th class="col-md-2 text-center">Id</th>
      <th class="col-md-2 text-center">Username</th>
      <th class="col-md-2 text-center">Email</th>
      {% for user in myUser %}
      <tr>
        <td class="text-center">{{ user.id }}</td>
        <td class="text-center"><a href="/profile/{{ user.id }}">{{ user.username }}</a></td>
        <td class="text-center">{{ user.email}}</td>
      </tr>
      {% endfor %}
    </table>
  </div>
{% endblock %}
